<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>PRIVATE CHAT</title>
  </head>
  <body>
    <div class="heading">
      <h1>
        PRIVATE CHAT APP<br /><span>
          By ADJARO LORD OGAGA
        </span>
      </h1>
    </div>
    <p id="typingMsg"></p>
    <div class="images"></div>
    <ul id="messages">
    </ul>
    <form action="">
      <input id="m" autocomplete="off" placeholder="Enter your message here"/>
<!--<input class="img" type="file" name="image" id="image" multiple> -->
      <button class="sendMessage">Send</button>
      <div class="users">Users</div>
    </form>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>

        function getName() {
            return prompt("please enter your name");
        }
     let socket, name ='';
     $(document).ready(function(){
       socket = io();
       socket.on('connect', ()=> {
         name = getName();
         socket.emit('join', name);
       })
     });
        // to handle users joining the chat
     function userJoining(name) {
       $("#messages").append(`
             <li>${name}: joined</li>
           `)
     }; 
     $(document).ready(function(){
       socket.on('join', userJoining);
     })


    // to handle submition of forms
      $(function() {
        var socket = io();
        $("form").submit(function(e) {
          e.preventDefault(); // prevents page reloading
          
          if ($("#m").val() === "" || $("#m").val() === "%20") {
            alert("you cannot enter an empty message");
            socket.end();
          }
          socket.emit("chat message", $("#m").val());
          $("#m").val("");
          $("#typingMsg").html("");
          return false;
        });
        socket.on("chat message", function(msg) {
          let typingmsg ;
          let state = false;
          $("form").on("keydown", function() {
            if (!state) {
               typingmsg = $("#typingMsg").html("user is typing...");
              state = true;
              $("#messages").append(typingmsg);
            }
          });
          $("form").on("keyup", function() {
            fired = false;
        
            
            
          });
          $("#messages").append($("<li>").text(msg));
           
          
        });
      });
    </script>
  </body>
</html>
