
body {
  background-color: black;
  color: white;
  font: 13px Helvetica, Arial;
}
.heading h1 {
  width:100%;
  text-align:center;
  text-decoration: underline;
}
form {
  
  padding: 3px;
  box-sizing:border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin:0 auto;
}
form input {
  border: 0;
  padding: 10px;
  box-sizing: border-box;
  width: 80%;
  border-top-left-radius:8px ;
  border-bottom-left-radius: 8px;
  margin-right: 0;
    
}

form input:focus {
  outline:none;
  border-bottom:2px solid blue;
  
}

.img::before {
  content:"";
  z-index: 0;
}
.img {
  border:none;
  width:5%;
  height:70%;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  background-color:white;
  margin:0;
}
form button {
  width: 10%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
  box-sizing:border-box;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages ul li {
  padding-top:4px;;
  box-sizing: border-box;
  width:auto;
  height:auto;
  border-radius: 10px;
  background: #eee;
}




/* styling comments */


.commentOutput{
  width:auto;
  padding:1em;
  background-color:rgba(22, 30, 235, 0.5);
  color:white;
}