* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(22, 30, 235, 0.5);
  font: 13px Helvetica, Arial;
}
.heading h1 {
  width:100%;
  text-align:center;
  text-decoration: underline;
}
form {
  
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
form input {
  border: 0;
  padding: 10px;
  width: 90%;
  border-top-left-radius:8px ;
  border-bottom-left-radius: 8px;
  margin-right: 0.5%;
    
}

form input:focus {
  outline:none;
  
}
form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
  width:auto;
  height:auto;
  border-radius: 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
}



/* styling comments */


.commentOutput{
  width:auto;
  padding:1em;
  background-color:rgba(22, 30, 235, 0.5);
  color:white;
}